@import url("https://fonts.googleapis.com/css2?family=Chela+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lilita+One&family=Noto+Sans+Khmer:wght@100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
}
